Repository ssg-240304-java2/final-oshi-no-restaurant, pull requests merged in 2024-08, with the labels that each got.

#26 Feat
  src/main/resources/templates/list.html
  src/main/resources/templates/review.html
  src/main/resources/templates/reviewDetail.html
Labels: front end

#31 refactor: 패키지 구조 변경
  src/main/java/kr/oshino/eataku/TestController.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/resources/static/images/logo.png
  src/main/resources/static/images/setting.png
  src/main/resources/static/management/certification.html
  src/main/resources/static/management/findId.html
  src/main/resources/static/management/findPass.html
  src/main/resources/static/management/menu.html
  src/main/resources/static/management/reservationCheck.html
  src/main/resources/static/management/reservationStatus.html
  src/main/resources/static/management/reviewList.html
  src/main/resources/static/management/test.html
  src/main/resources/static/management/waitingStatus.html
  src/main/resources/templates/list.html
  src/main/resources/templates/list/list.html
  src/main/resources/templates/list/review.html
  src/main/resources/templates/list/reviewDetail.html
  src/main/resources/templates/management/address.html
  src/main/resources/templates/management/certification.html
  src/main/resources/templates/management/logIn.html
  src/main/resources/templates/management/main.html
  src/main/resources/templates/management/menu.html
  src/main/resources/templates/management/reservationCheck.html
  src/main/resources/templates/management/reservationStatus.html
  src/main/resources/templates/management/reviewList.html
  src/main/resources/templates/management/signUp.html
  src/main/resources/templates/management/waitingStatus.html
  src/main/resources/templates/reservation/reservationcalendar.html
  src/main/resources/templates/reservation/reservationdetail.html
  src/main/resources/templates/reservation/reservationlogin.html
  src/main/resources/templates/test.html
  src/main/resources/templates/waiting/cardSearchPage.html
  src/main/resources/templates/waiting/jjFriendPage.html
  src/main/resources/templates/waiting/mapSearchPage.html
  src/main/resources/templates/waiting/userProfilePage.html
  src/main/resources/templates/waiting/waitingFormPage.html
Labels: design

#33 feat (#24): front end html 구현
  src/main/java/kr/oshino/eataku/TestController.java
  src/main/resources/static/images/Edit 2.png
  src/main/resources/static/images/X.png
  src/main/resources/static/images/newListPlus.png
  src/main/resources/templates/user/myList.html
  src/main/resources/templates/user/profile.html
  src/main/resources/templates/user/review.html
Labels: design

#78 #38 feat: create member entity
  src/main/java/kr/oshino/eataku/member/model/entity/Follow.java
  src/main/java/kr/oshino/eataku/member/model/entity/Member.java
  src/main/java/kr/oshino/eataku/member/model/entity/MemberLoginInfo.java
  src/main/resources/static/css/waiting/cardSearchPage.css
Labels: back end, database

#79 #38 Feat: 웨이팅 엔티티 생성
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingAdminController.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/java/kr/oshino/eataku/waiting/model/ListItem.java
  src/main/java/kr/oshino/eataku/waiting/model/Restaurant.java
  src/main/java/kr/oshino/eataku/waiting/model/UserProfile.java
  src/main/java/kr/oshino/eataku/waiting/model/entity/StatusType.java
  src/main/java/kr/oshino/eataku/waiting/model/entity/Waiting.java
Labels: back end, database

#80 #38 feat: create restaurant entity
  src/main/java/kr/oshino/eataku/restaurant/admin/model/AccountInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/Certification.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/HashTag.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/HashtagList.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/Menu.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/ReservationSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/Restaurant.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/WaitingSetting.java
Labels: database

#82 #38 feat: 엔티티 생성
  src/main/java/kr/oshino/eataku/reservation/user/model/entity/Reservation.java
  src/main/java/kr/oshino/eataku/reservation/user/model/entity/ReservationStatus.java
Labels: back end, database

#81 #38 Feat: entity create
  src/main/java/kr/oshino/eataku/list/controller/ListController.java
  src/main/java/kr/oshino/eataku/list/model/List.java
  src/main/java/kr/oshino/eataku/list/model/ListInfo.java
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/model/Review.java
  src/main/java/kr/oshino/eataku/review/user/model/ReviewTag.java
  src/main/java/kr/oshino/eataku/review/user/model/Scope.java
  src/main/java/kr/oshino/eataku/review/user/model/TagList.java
Labels: priority: high, back end, database

#84 #38 feat: 엔티티 생성
  src/main/java/kr/oshino/eataku/reservation/user/model/entity/Reservation.java
Labels: back end, reservation, database

#85 refactor: 웨이팅 도메인 패키지 구조 변경
  src/main/java/kr/oshino/eataku/waiting/entity/StatusType.java
  src/main/java/kr/oshino/eataku/waiting/entity/Waiting.java
  src/main/java/kr/oshino/eataku/waiting/model/entity/StatusType.java
Labels: back end, database, waiting

#87 #38 refactor: entity modification
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/AccountInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Certification.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/HashTag.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Menu.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/ReservationSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Restaurant.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/WaitingSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/Certification.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/HashTag.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/HashtagList.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/vo/AccountInfo.java
  src/main/resources/application.yml
Labels: database, admin

#86 #38 Feat entity
  src/main/java/kr/oshino/eataku/list/controller/ListController.java
  src/main/java/kr/oshino/eataku/list/model/List.java
  src/main/java/kr/oshino/eataku/list/model/ListInfo.java
  src/main/java/kr/oshino/eataku/list/model/dto/vo/noName2.java
  src/main/java/kr/oshino/eataku/list/model/dto/vo/noName3.java
  src/main/java/kr/oshino/eataku/list/model/dto/vo/restaurantList.java
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/model/Review.java
  src/main/java/kr/oshino/eataku/review/user/model/TagList.java
  src/main/java/kr/oshino/eataku/review/user/model/dto/vo/reviewRestaurant.java
Labels: list, review, priority: high, back end, database

#88 #38 refactor: member entity modify
  src/main/java/kr/oshino/eataku/member/model/entity/Follow.java
  src/main/java/kr/oshino/eataku/member/model/entity/Member.java
  src/main/java/kr/oshino/eataku/member/model/entity/MemberLoginInfo.java
  src/main/resources/application.yml
Labels: back end, member

#91 #38 refactor: list, review entity modification
  src/main/java/kr/oshino/eataku/list/entity/ListInfo.java
  src/main/java/kr/oshino/eataku/list/model/vo/RestaurantList.java
  src/main/java/kr/oshino/eataku/list/model/vo/UserList.java
  src/main/java/kr/oshino/eataku/review/user/entity/ReviewTag.java
  src/main/java/kr/oshino/eataku/review/user/entity/TagList.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/ReviewRestaurant.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/reviewRestaurant.java
Labels: priority: high, back end, database

#92 #38 refactor: member entity modification
  .gitignore
  src/main/java/kr/oshino/eataku/common/enums/AccountAuth.java
  src/main/java/kr/oshino/eataku/member/entity/Follow.java
  src/main/java/kr/oshino/eataku/member/entity/Member.java
Labels: back end, database

#94 #38 refactor: list, review entity modification
  src/main/java/kr/oshino/eataku/list/entity/ListInfo.java
  src/main/java/kr/oshino/eataku/list/entity/MyList.java
  src/main/java/kr/oshino/eataku/list/model/vo/NoName2.java
  src/main/java/kr/oshino/eataku/list/model/vo/RestaurantList.java
  src/main/java/kr/oshino/eataku/review/user/entity/Review.java
  src/main/java/kr/oshino/eataku/review/user/entity/ReviewTag.java
  src/main/java/kr/oshino/eataku/review/user/entity/TagList.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/ReviewRestaurant.java
Labels: back end, database

#97 #38 refactor: restaurant table column modification
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/AccountInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Certification.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/test/java/kr/oshino/eataku/test/RestaurantTest.java
Labels: database, admin

#98 #49 웨이팅 도메인 기본 테스트 코드 작성
  src/main/java/kr/oshino/eataku/waiting/entity/Waiting.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/test/java/kr/oshino/eataku/test/waiting/WaitingTest.java
Labels: back end, waiting

#100 #38 refactor: Update 'rating' column in 'Restaurant' table
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
Labels: database, admin

#103 #38 refactor: entity Modified
  src/main/java/kr/oshino/eataku/list/controller/ListController.java
  src/main/java/kr/oshino/eataku/list/entity/MyList.java
  src/main/java/kr/oshino/eataku/list/model/repository/MyListRepository.java
  src/main/java/kr/oshino/eataku/list/model/vo/RestaurantList.java
  src/main/java/kr/oshino/eataku/list/model/vo/UserList.java
Labels: back end, database

#104 #50 Feat: 회원 웨이팅 등록 기능 구현
  .gitignore
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/java/kr/oshino/eataku/waiting/model/dto/requestDto/CreateWaitingRequestDto.java
  src/main/java/kr/oshino/eataku/waiting/model/dto/responseDto/CreateWaitingResponseDto.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/main/resources/templates/waiting/waitingFormPage.html
Labels: back end, waiting

#106 #58 [Backend] feat: signUp & modify: member entity
  build.gradle
  src/main/java/kr/oshino/eataku/TestController.java
  src/main/java/kr/oshino/eataku/member/controller/MemberController.java
  src/main/java/kr/oshino/eataku/member/entity/Follow.java
  src/main/java/kr/oshino/eataku/member/entity/Member.java
  src/main/java/kr/oshino/eataku/member/entity/MemberLoginInfo.java
  src/main/java/kr/oshino/eataku/member/model/repository/FollowRepository.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/resources/static/css/member/signUp.css
  src/main/resources/static/js/member/signUp.js
  src/main/resources/templates/member/login.html
  src/main/resources/templates/member/signUp.html
  src/test/java/kr/oshino/eataku/test/MemberTest.java
Labels: priority: high, back end, member

#109 #34 list create modify delete
  src/main/java/kr/oshino/eataku/list/controller/ListController.java
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/model/dto/MyListDto.java
  src/main/java/kr/oshino/eataku/list/model/repository/MyListRepository.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/java/kr/oshino/eataku/list/model/vo/RestaurantList.java
  src/main/resources/templates/list/listCreate.html
  src/main/resources/templates/list/listModify.html
  src/main/resources/templates/list/myList.html
  src/test/java/kr/oshino/eataku/test/ListTest.java
Labels: list, priority: high, back end

#110 #58 feat: signUp backend & modify: member entity
  src/main/java/kr/oshino/eataku/common/config/WebSecurityConfig.java
  src/main/java/kr/oshino/eataku/member/model/dto/MemberDTO.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberLoginInfoRepository.java
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
Labels: priority: high, back end, member

#112 #40 feat:예약등록
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/requestDto/CreateReservationUserRequestDto.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/CreateReservationUserResponseDto.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/RestaurantDetailsResponseDto.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/AverageRating.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
Labels: priority: high, back end, reservation

#113 #58 [BackEnd] 회원가입 완료
  src/main/java/kr/oshino/eataku/common/config/WebSecurityConfig.java
  src/main/java/kr/oshino/eataku/member/controller/MemberController.java
  src/main/java/kr/oshino/eataku/member/entity/EmailVerifCode.java
  src/main/java/kr/oshino/eataku/member/model/repository/EmailVerifCodeRepository.java
  src/main/java/kr/oshino/eataku/member/service/MailService.java
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/resources/static/js/member/signUp.js
  src/main/resources/templates/member/signUp.html
Labels: priority: high, back end, member

#114 #42 #42 feat: certification and restaurantInfo
  src/main/java/kr/oshino/eataku/common/enums/HashTag.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Certification.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/ReservationSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/main/resources/application.yml
  src/main/resources/static/css/restaurant/address.css
  src/main/resources/static/css/restaurant/certification.css
  src/main/resources/static/css/restaurant/info.css
  src/main/resources/static/css/restaurant/main.css
  src/main/resources/static/css/restaurant/menu.css
  src/main/resources/static/css/restaurant/reservationCheck.css
  src/main/resources/static/css/restaurant/reservationStatus.css
  src/main/resources/static/css/restaurant/reviewList.css
  src/main/resources/static/css/restaurant/signUp.css
  src/main/resources/static/css/restaurant/waitingStatus.css
  src/main/resources/static/js/management/certification.js
  src/main/resources/static/js/restaurant/address.js
  src/main/resources/static/js/restaurant/certification.js
  src/main/resources/static/js/restaurant/reservationCheck.js
  src/main/resources/templates/restaurant/certification.html
  src/main/resources/templates/restaurant/info.html
  src/main/resources/templates/restaurant/main.html
  src/main/resources/templates/restaurant/menu.html
  src/main/resources/templates/restaurant/reservationCheck.html
  src/main/resources/templates/restaurant/reservationStatus.html
  src/main/resources/templates/restaurant/reviewList.html
  src/main/resources/templates/restaurant/signUp.html
  src/main/resources/templates/restaurant/waitingStatus.html
Labels: priority: high, back end, admin

#116 #37 feat: 리스트 공개 여부 설정
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/resources/templates/member/myList.html
Labels: list, priority: high, back end

#122 #40 예약
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/js/reservation/reservationCalendar.js
  src/main/resources/templates/reservation/reservationCalendar.html
Labels: back end, reservation

#126 refactor: ReservationSetting entity modification
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/ReservationSetting.java
Labels: back end, admin

#128 refactor: ReservationSetting column modification
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/ReservationSetting.java
Labels: back end, admin

#130 #40 feat: 레포지토리 이름 변경
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
Labels: back end, reservation

#135 #119 리스트 정보 조회 및 식당 정보 확인
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/model/repository/MyListRepository.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/java/kr/oshino/eataku/list/model/vo/RestaurantList.java
  src/main/resources/templates/list/listAdd.html
  src/main/resources/templates/list/listCreate.html
  src/main/resources/templates/list/listModify.html
  src/main/resources/templates/list/tsktskList.html
  src/main/resources/templates/member/myList.html
Labels: list, priority: high, back end

#136 #40 feat: 사용자화면 과 예약등록
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/js/reservation/reservationCalendar.js
  src/main/resources/templates/reservation/reservationCalendar.html
Labels: priority: high, back end, reservation

#137 #49 Feat: 웨이팅 관리 페이지 front & back 구현
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingAdminController.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/java/kr/oshino/eataku/waiting/model/dto/requestDto/CreateWaitingRequestDto.java
  src/main/java/kr/oshino/eataku/waiting/model/dto/requestDto/ReadWaitingRequestDto.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/main/resources/static/css/restaurant/waitingStatus.css
  src/main/resources/templates/restaurant/waitingStatus.html
  src/main/resources/templates/waiting/waitingFormPage.html
  src/test/java/kr/oshino/eataku/test/waiting/WaitingTest.java
Labels: back end, waiting

#139 #118 feat: 리스트 내 식당 삭제 및 마커 표시
  src/main/java/kr/oshino/eataku/list/controller/DeleteRequest.java
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/model/repository/MyListRepository.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/resources/templates/list/tsktskList.html
Labels: list, priority: high, back end

#146 Feat: 매장 웨이팅 관리 페이지 SSE(실시간 이벤트 처리) 적용
  build.gradle
  src/main/java/kr/oshino/eataku/common/config/SseConfig.java
  src/main/java/kr/oshino/eataku/common/util/FileUploadUtil.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingAdminController.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/java/kr/oshino/eataku/waiting/entity/Waiting.java
  src/main/java/kr/oshino/eataku/waiting/event/WaitingCreatedEvent.java
  src/main/java/kr/oshino/eataku/waiting/model/dto/responseDto/ReadWaitingResponseDto.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/main/resources/templates/restaurant/waitingStatus.html
  src/main/resources/templates/waiting/waitingFormPage.html
Labels: back end, waiting

#149 #118 feat: 리스트 내 식당 정보 삭제
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/resources/templates/list/tsktskList.html
Labels: list, priority: high, back end

#150 feat: MyPage 구현중
  src/main/java/kr/oshino/eataku/common/enums/AccountAuth.java
  src/main/java/kr/oshino/eataku/common/enums/ReservationStatus.java
  src/main/java/kr/oshino/eataku/list/entity/MyList.java
  src/main/java/kr/oshino/eataku/member/controller/MemberController.java
  src/main/java/kr/oshino/eataku/member/model/dto/MyInfoDTO.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/java/kr/oshino/eataku/reservation/user/entity/Reservation.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/resources/templates/member/myPage.html
Labels: priority: high, back end, member

#151 #142 feat : Add DTO and service logic for restaurant information input
  build.gradle
  src/main/java/kr/oshino/eataku/common/config/WebSecurityConfig.java
  src/main/java/kr/oshino/eataku/common/enums/FoodType.java
  src/main/java/kr/oshino/eataku/common/enums/HashTag.java
  src/main/java/kr/oshino/eataku/reservation/admin/controller/ReservationAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Certification.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/TemporarySave.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/CertificationDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/RegisterInfoDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/TemporarySaveDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/TemporarySaveRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/resources/static/css/restaurant/info.css
  src/main/resources/static/js/restaurant/certification.js
  src/main/resources/static/js/restaurant/info.js
  src/main/resources/templates/restaurant/address.html
  src/main/resources/templates/restaurant/certification.html
  src/main/resources/templates/restaurant/infoRegister.html
  src/main/resources/templates/restaurant/restaurantInfo.html
Labels: back end, admin

#152 #40 feat: 예약등록과 상세정보모달창
  src/main/java/kr/oshino/eataku/Detail/controller/DetailPageController.java
  src/main/java/kr/oshino/eataku/Detail/repository/DetailPageRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReadReservationResponseDto.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/modalDto.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/js/reservation/reservationCalendar.js
  src/main/resources/templates/reservation/reservationCalendar.html
  src/main/resources/templates/reservation/reservationComplete.html
  src/main/resources/templates/reservation/updateReservation.html
Labels: priority: high, back end, reservation

#154 #142 feat: Complete restaurant registration and business license veification linked with user sign-up
  src/main/java/kr/oshino/eataku/member/controller/MemberController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/AccountInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Certification.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/TemporarySave.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/RestaurantInfoDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/TemporarySaveDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/TemporarySaveRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/resources/static/js/restaurant/certification.js
  src/main/resources/static/js/restaurant/info.js
  src/main/resources/templates/restaurant/certification.html
  src/main/resources/templates/restaurant/infoUpdate.html
Labels: back end, admin

#157 #40 #43 #45
  src/main/java/kr/oshino/eataku/Detail/controller/DetailPageController.java
  src/main/java/kr/oshino/eataku/Detail/repository/DetailPageRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReadReservationResponseDto.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/RestaurantInfoDetails.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/templates/reservation/reservationDetail.html
  src/main/resources/templates/reservation/updateReservation.html
Labels: priority: high, back end, reservation

#158 매장 회원가입/로그인, 마이페이지 조회, 쩝쩝친구 조회, 상대방프로필 조회, 내정보수정
  src/main/java/kr/oshino/eataku/common/config/CustomAuthenticationSuccessHandler.java
  src/main/java/kr/oshino/eataku/common/config/WebSecurityConfig.java
  src/main/java/kr/oshino/eataku/member/controller/FollowController.java
  src/main/java/kr/oshino/eataku/member/controller/MemberController.java
  src/main/java/kr/oshino/eataku/member/model/dto/CustomMemberDetails.java
  src/main/java/kr/oshino/eataku/member/model/dto/MemberDTO.java
  src/main/java/kr/oshino/eataku/member/model/dto/MemberProfileDTO.java
  src/main/java/kr/oshino/eataku/member/model/dto/MyInfoDTO.java
  src/main/java/kr/oshino/eataku/member/model/dto/ReservationInfoDTO.java
  src/main/java/kr/oshino/eataku/member/model/dto/WaitingInfoDTO.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/resources/static/css/member/editProfile.css
  src/main/resources/static/css/member/memberProfile.css
  src/main/resources/static/css/member/myPage.css
  src/main/resources/static/images/animal/baby.png
  src/main/resources/static/images/animal/dog.png
  src/main/resources/static/images/animal/panda.png
  src/main/resources/static/images/animal/sheep.png
  src/main/resources/static/images/animal/skeleton.png
  src/main/resources/static/images/animal/whale.png
  src/main/resources/static/images/badge/bronze.png
  src/main/resources/static/images/badge/gold.png
  src/main/resources/static/images/badge/none.png
  src/main/resources/static/images/badge/silver.png
  src/main/resources/static/js/member/editProfile.js
  src/main/resources/static/js/member/profile.js
  src/main/resources/templates/member/editProfile.html
  src/main/resources/templates/member/memberProfile.html
  src/main/resources/templates/member/myPage.html
  src/main/resources/templates/member/profile.html
  src/main/resources/templates/member/zzupFriend.html
Labels: priority: high, back end, member

#159 #61 feat: 리스트조회 및 팔로우 리스트 확인
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/resources/templates/list/tsktskList.html
Labels: list, priority: high, back end

#160 #44 feat: Implement functionality for setting and registering restaurant reservation details
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/ReservSettingDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/RestaurantInfoDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/TemporarySaveDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/ReservationSettingRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/resources/static/js/restaurant/info.js
  src/main/resources/templates/restaurant/infoRegister.html
  src/main/resources/templates/restaurant/infoUpdate.html
Labels: back end, admin

#173 Feat: 웨이팅 도메인 기능 추가 (Exception, Entity, Session)
  src/main/java/kr/oshino/eataku/common/exception/GlobalExceptionHandler.java
  src/main/java/kr/oshino/eataku/common/exception/exception/WaitingException.java
  src/main/java/kr/oshino/eataku/common/exception/info/WaitingExceptionInfo.java
  src/main/java/kr/oshino/eataku/common/response/BasicResponse.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingAdminController.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/java/kr/oshino/eataku/waiting/entity/Waiting.java
  src/main/java/kr/oshino/eataku/waiting/model/dto/responseDto/ReadWaitingResponseDto.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/main/resources/templates/restaurant/waitingStatus.html
  src/main/resources/templates/waiting/waitingFormPage.html
Labels: back end, waiting

#176 #53 Feat: message 전송 Util 클래스 작성 및 웨이팅 입장 알림 기능 구현
  build.gradle
  src/main/java/kr/oshino/eataku/common/enums/SmsMessageType.java
  src/main/java/kr/oshino/eataku/common/util/SmsUtil.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingAdminController.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/main/resources/templates/restaurant/waitingStatus.html
Labels: back end, Util

#187 feat: 식당검색 #60
  src/main/java/kr/oshino/eataku/common/config/SchedulingConfig.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
  src/main/java/kr/oshino/eataku/search/controller/SearchController.java
  src/main/java/kr/oshino/eataku/search/service/SearchService.java
  src/main/resources/static/js/member/signUp.js
  src/main/resources/static/js/search/mapSearchPage.js
  src/main/resources/templates/search/cardSearchPage.html
  src/main/resources/templates/search/mapSearchPage.html
Labels: priority: medium, back end, member

#188 #169 feat: 상세페이지 구현
  src/main/java/kr/oshino/eataku/common/enums/Scope.java
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReviewDetails.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReviewWithMember.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/java/kr/oshino/eataku/review/user/model/repository/ReviewRepository.java
  src/main/resources/application.yml
  src/main/resources/static/css/reservation/reservationDetail.css
  src/main/resources/static/js/reservation/reservationDetail.js
  src/main/resources/templates/reservation/reservationDetail.html
Labels: priority: high, back end, reservation

#190 #46 feat: Implement waiting registration functionality
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/WaitingSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/WaitingSettingDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/WaitingSettingRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/resources/application.yml
  src/main/resources/templates/restaurant/infoUpdate.html
Labels: back end, admin

#191 #60 fix: 마이페이지 웨이팅 순번 타입변경
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/java/kr/oshino/eataku/search/service/SearchService.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
Labels: priority: high, back end, member

#193 #192 feat: 리뷰 등록
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/CreateReviewUserRequestDto.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/CreateReviewUserResponseDto.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/TagDto.java
  src/main/java/kr/oshino/eataku/review/user/repository/ReviewRepository.java
  src/main/java/kr/oshino/eataku/review/user/service/ReviewUserService.java
  src/main/resources/static/js/review/review.js
  src/main/resources/templates/review/review.html
Labels: review, priority: high

#200 Fix: 웨이팅 페이지 navbar JS 경로 수정
  src/main/resources/templates/restaurant/waitingStatus.html
  src/main/resources/templates/waiting/waitingFormPage.html
Labels: front end, waiting

#202 #197 feat: 리뷰 조회 및 리뷰 삭제
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/entity/Review.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/CreateReviewUserRequestDto.java
  src/main/java/kr/oshino/eataku/review/user/repository/ReviewRepository.java
  src/main/java/kr/oshino/eataku/review/user/service/ReviewUserService.java
  src/main/resources/templates/list/tsktskList.html
  src/main/resources/templates/review/myReview.html
Labels: review, priority: medium, back end

#203 #156 feat: Implement file server upload functionality for restaurant images and business registration documents
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/ReservationSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/WaitingSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/ReservSettingDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/resources/static/js/member/managerSignUp.js
  src/main/resources/static/js/restaurant/certification.js
  src/main/resources/static/js/restaurant/info.js
  src/main/resources/templates/restaurant/infoUpdate.html
Labels: back end, admin

#207 #205 Feat: 페이지 연결
  src/main/resources/templates/restaurant/main.html
  src/main/resources/templates/restaurant/waitingStatus.html
  src/main/resources/templates/review/myReview.html
  src/main/resources/templates/search/cardSearchPage.html
Labels: front end, priority: high

#210 managerSignUp 코드 복귀
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Menu.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/MenuDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/resources/static/js/member/managerSignUp.js
  src/main/resources/static/js/restaurant/info.js
  src/main/resources/static/js/restaurant/menu.js
  src/main/resources/templates/restaurant/main.html
  src/main/resources/templates/restaurant/menu.html
Labels: back end, admin

#211 #192 feat: 상세페이지
  src/main/resources/templates/reservation/reservationCalendar.html
  src/main/resources/templates/reservation/reservationDetail.html
Labels: priority: high, back end, reservation

#213 #199 feat: 리뷰 삭제 수정
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/entity/Review.java
  src/main/java/kr/oshino/eataku/review/user/repository/ReviewRepository.java
  src/main/java/kr/oshino/eataku/review/user/service/ReviewUserService.java
Labels: review, priority: medium, back end

#214 #60 feat: Index페이지 식당 랭킹 알고리즘 구현
  src/main/java/kr/oshino/eataku/MainController.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
  src/main/java/kr/oshino/eataku/search/model/dto/SearchResultDTO.java
  src/main/java/kr/oshino/eataku/search/service/SearchService.java
  src/main/resources/static/css/index.css
  src/main/resources/static/images/index/arrow.png
  src/main/resources/static/js/index.js
  src/main/resources/static/js/search/cardSearchPage.js
  src/main/resources/templates/index.html
Labels: front end, priority: medium, back end, member

#217 #192 fix: 리뷰 등록 멤버 번호 추가
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/CreateReviewUserRequestDto.java
Labels: review, priority: high, back end

#218 #48 feat: Add restaurant menu registration and deletion functionality
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/Menu.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/MenuRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/resources/static/css/restaurant/menu.css
  src/main/resources/static/js/restaurant/menu.js
  src/main/resources/templates/restaurant/infoUpdate.html
  src/main/resources/templates/restaurant/main.html
  src/main/resources/templates/restaurant/menu.html
Labels: back end, admin

#220 #49 Refactor: 불필요한 코드 삭제 & 로그 코드 추가
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/resources/static/js/restaurant/waitingStatus.js
Labels: back end, waiting

#222 #197 feat: 식당 번호 명 파일 업로드
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/entity/Review.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/CreateReviewUserRequestDto.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/ReviewRestaurant.java
  src/main/java/kr/oshino/eataku/review/user/service/ReviewUserService.java
  src/main/resources/static/js/review/review.js
  src/main/resources/templates/review/myReview.html
  src/main/resources/templates/review/review.html
Labels: review, priority: high, back end

#223 #47 feat: Implement reservation confirmation page for restaurants
  src/main/java/kr/oshino/eataku/reservation/admin/controller/ReservationAdminController.java
  src/main/java/kr/oshino/eataku/reservation/admin/model/dto/ReservationCountDTO.java
  src/main/java/kr/oshino/eataku/reservation/admin/model/dto/ReservationDTO.java
  src/main/java/kr/oshino/eataku/reservation/admin/repository/ReservationAdminRepository.java
  src/main/java/kr/oshino/eataku/reservation/admin/service/ReservationAdminService.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/main/resources/application.yml
  src/main/resources/static/css/restaurant/reservationCheck.css
  src/main/resources/static/css/restaurant/reservationUpdate.css
  src/main/resources/static/js/reservation/admin/reservationCheck.js
  src/main/resources/static/js/reservation/user/reservationCalendar.js
  src/main/resources/static/js/reservation/user/reservationDetail.js
  src/main/resources/static/js/reservation/user/reservationLogin.js
  src/main/resources/static/js/reservation/user/reservationLoginEmail.js
  src/main/resources/static/js/reservation/user/restaurant/certification.js
  src/main/resources/static/js/reservation/user/restaurant/info.js
  src/main/resources/static/js/reservation/user/restaurant/menu.js
  src/main/resources/static/js/reservation/user/restaurant/waitingStatus.js
  src/main/resources/static/js/restaurant/reservationCheck.js
  src/main/resources/templates/member/myPage.html
  src/main/resources/templates/reservation/reservationCalendar.html
  src/main/resources/templates/reservation/reservationDetail.html
  src/main/resources/templates/restaurant/certification.html
  src/main/resources/templates/restaurant/infoUpdate.html
  src/main/resources/templates/restaurant/main.html
  src/main/resources/templates/restaurant/menu.html
  src/main/resources/templates/restaurant/reservationCheck.html
  src/main/resources/templates/restaurant/reservationUpdate.html
  src/main/resources/templates/restaurant/waitingStatus.html
Labels: back end, admin

#224 #169 feat:상세페이지
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/entity/Reservation.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/requestDto/CreateReservationUserRequestDto.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/CreateReservationUserResponseDto.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/MenuDto.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/RestaurantInfoDetails.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReviewDetails.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/css/reservation/reservationDetail.css
  src/main/resources/static/js/reservation/user/reservationCalendar.js
  src/main/resources/templates/member/myPage.html
  src/main/resources/templates/reservation/reservationCalendar.html
  src/main/resources/templates/reservation/reservationDetail.html
  src/main/resources/templates/reservation/updateReservation.html
  src/main/resources/templates/waiting/cardSearchPage.html
Labels: priority: high, back end, reservation

#225 feat: 소셜 로그인, 로그인 권한에 따른 리다이렉트 주소 수정 #59
  build.gradle
  src/main/java/kr/oshino/eataku/common/config/WebSecurityConfig.java
  src/main/java/kr/oshino/eataku/member/controller/KakaoController.java
  src/main/java/kr/oshino/eataku/member/controller/MemberController.java
  src/main/java/kr/oshino/eataku/member/model/dto/CustomMemberDetails.java
  src/main/java/kr/oshino/eataku/member/model/dto/KakaoTokenResponseDTO.java
  src/main/java/kr/oshino/eataku/member/model/dto/KakaoUserInfoResponseDTO.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/member/service/KakaoService.java
  src/main/java/kr/oshino/eataku/member/service/MailService.java
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/java/kr/oshino/eataku/search/elastic/documents/RestaurantDocument.java
  src/main/resources/static/css/member/login.css
  src/main/resources/static/css/member/myPage.css
  src/main/resources/static/js/member/editProfile.js
  src/main/resources/static/js/member/myPage.js
  src/main/resources/static/js/member/signUp.js
  src/main/resources/templates/fragment/navbar.html
  src/main/resources/templates/index.html
  src/main/resources/templates/member/editProfile.html
  src/main/resources/templates/member/findId.html
  src/main/resources/templates/member/findPw.html
  src/main/resources/templates/member/history.html
  src/main/resources/templates/member/login.html
  src/main/resources/templates/member/myList.html
  src/main/resources/templates/member/myPage.html
  src/main/resources/templates/member/zzupFriend.html
  src/main/resources/templates/reservation/reservationLogin.html
  src/main/resources/templates/restaurant/address.html
  src/main/resources/templates/restaurant/main.html
  src/main/resources/templates/restaurant/reservationUpdate.html
  src/main/resources/templates/restaurant/reviewList.html
  src/main/resources/templates/review/reviewDetail.html
  src/main/resources/templates/waiting/cardSearchPage.html
Labels: priority: low, back end, member

#226 feat: 식당 예약확인 화면 개발
  src/main/java/kr/oshino/eataku/reservation/admin/controller/ReservationAdminController.java
  src/main/java/kr/oshino/eataku/reservation/admin/model/dto/ReservationCountDTO.java
  src/main/java/kr/oshino/eataku/reservation/admin/repository/ReservationAdminRepository.java
  src/main/java/kr/oshino/eataku/reservation/admin/service/ReservationAdminService.java
  src/main/resources/static/js/reservation/admin/reservationCheck.js
  src/main/resources/templates/restaurant/reservationCheck.html
Labels: priority: low, back end, admin

#227 #197 feat: 리뷰 조회 시간 추가
  src/main/java/kr/oshino/eataku/review/user/entity/Review.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/CreateReviewUserRequestDto.java
  src/main/java/kr/oshino/eataku/review/user/service/ReviewUserService.java
  src/main/resources/templates/review/myReview.html
Labels: review, priority: high, back end

#229 #169 feat: 상세페이지
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/entity/Reservation.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReviewDetails.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReviewImgDto.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/js/reservation/user/reservationCalendar.js
  src/main/resources/templates/reservation/reservationDetail.html
Labels: priority: high, back end, reservation

#231 feat: 웨이팅 등록시 유효성 판별 로직 추가
  src/main/java/kr/oshino/eataku/common/exception/info/WaitingExceptionInfo.java
  src/main/java/kr/oshino/eataku/common/util/BasicUtil.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/main/resources/static/css/waiting/cardSearchPage.css
  src/main/resources/static/css/waiting/mapSearchPage.css
  src/main/resources/templates/waiting/cardSearchPage.html
Labels: back end, waiting

#232 엔티티 수정 및 생성
  src/main/java/kr/oshino/eataku/member/controller/NotifyController.java
  src/main/java/kr/oshino/eataku/member/entity/Notification.java
  src/main/java/kr/oshino/eataku/review/user/entity/Review.java
Labels: review, priority: high, back end

#233 feat: 알림등록기능 구현 및 엔티티 수정
  src/main/java/kr/oshino/eataku/member/entity/Notification.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/member/model/repository/NotificationRepository.java
  src/main/java/kr/oshino/eataku/member/service/FollowService.java
  src/main/java/kr/oshino/eataku/member/service/NotificationService.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
Labels: priority: medium, back end, member, Util

#237 #235 feat: Implement restaurant detail preview functionality
  src/main/java/kr/oshino/eataku/common/enums/ReviewTag.java
  src/main/java/kr/oshino/eataku/common/enums/Scope.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/RestaurantInfo.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/java/kr/oshino/eataku/review/admin/controller/ReviewAdminController.java
  src/main/java/kr/oshino/eataku/review/admin/entity/AverageRating.java
  src/main/java/kr/oshino/eataku/review/admin/model/dto/AverageRatingDTO.java
  src/main/java/kr/oshino/eataku/review/admin/model/dto/ReviewListDTO.java
  src/main/java/kr/oshino/eataku/review/admin/model/repository/AverageRatingRepository.java
  src/main/java/kr/oshino/eataku/review/admin/model/repository/ReviewAdminRepository.java
  src/main/java/kr/oshino/eataku/review/service/ReviewAdminService.java
  src/main/java/kr/oshino/eataku/review/user/entity/Review.java
  src/main/resources/static/css/restaurant/preview.css
  src/main/resources/static/css/restaurant/reviewList.css
  src/main/resources/static/js/restaurant/certification.js
  src/main/resources/static/js/restaurant/info.js
  src/main/resources/static/js/restaurant/menu.js
  src/main/resources/static/js/restaurant/preview.js
  src/main/resources/static/js/restaurant/waitingStatus.js
  src/main/resources/static/js/review/reviewAdmin.js
  src/main/resources/templates/restaurant/certification.html
  src/main/resources/templates/restaurant/infoUpdate.html
  src/main/resources/templates/restaurant/main.html
  src/main/resources/templates/restaurant/menu.html
  src/main/resources/templates/restaurant/preview.html
  src/main/resources/templates/restaurant/reviewList.html
  src/main/resources/templates/restaurant/waitingStatus.html
Labels: back end, admin

#239 [Backend/DetailPage]상세페이지 리뷰없을 경우
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/ReviewDetails.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/application.yml
  src/main/resources/static/css/reservation/reservationDetail.css
  src/main/resources/static/js/reservation/user/reservationCalendar.js
  src/main/resources/templates/member/myPage.html
  src/main/resources/templates/reservation/reservationDetail.html
Labels: back end

#241 [Backend/DetailPage]내역이 없을 경우의 화면페이지
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/css/member/myPage.css
  src/main/resources/static/css/reservation/reservationDetail.css
  src/main/resources/templates/member/myPage.html
Labels: back end

#242 #198 feat: 리뷰 수정값 불러오기
  src/main/java/kr/oshino/eataku/review/user/controller/ReviewUserController.java
  src/main/java/kr/oshino/eataku/review/user/model/vo/CreateReviewUserRequestDto.java
  src/main/java/kr/oshino/eataku/review/user/service/ReviewUserService.java
  src/main/resources/static/js/review/review.js
  src/main/resources/templates/review/myReview.html
  src/main/resources/templates/review/reviewModify.html
Labels: review, priority: medium, back end

#245 #244 feat: 예약관련 이슈사항 해결
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/js/reservation/user/reservationCalendar.js
Labels: back end, reservation

#246 #132 feat: Develop sales inquiry page with customer detail view
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/SalesDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/service/RestaurantAdminService.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/resources/static/js/restaurant/main.js
  src/main/resources/templates/restaurant/main.html
Labels: back end, admin

#247 #243 feat: notification & history
  src/main/java/kr/oshino/eataku/member/controller/MemberController.java
  src/main/java/kr/oshino/eataku/member/controller/NotificationController.java
  src/main/java/kr/oshino/eataku/member/controller/NotifyController.java
  src/main/java/kr/oshino/eataku/member/model/dto/HistoryDTO.java
  src/main/java/kr/oshino/eataku/member/model/dto/NotificationDTO.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/member/model/repository/NotificationRepository.java
  src/main/java/kr/oshino/eataku/member/service/MemberService.java
  src/main/java/kr/oshino/eataku/member/service/NotificationService.java
  src/main/resources/static/css/fragment/navbar.css
  src/main/resources/static/css/member/history.css
  src/main/resources/static/images/navbar/cancel.png
  src/main/resources/static/images/navbar/check.png
  src/main/resources/static/images/navbar/follow.png
  src/main/resources/static/images/navbar/list.png
  src/main/resources/static/js/fragment/navbar.js
  src/main/resources/static/js/index.js
  src/main/resources/static/js/member/history.js
  src/main/resources/templates/fragment/navbar.html
  src/main/resources/templates/index.html
  src/main/resources/templates/member/history.html
Labels: priority: medium, back end, admin, member, Util

#252 #234 feat: Implement chat functionality for user and restaurant commu…
  build.gradle
  src/main/java/kr/oshino/eataku/common/config/WebConfig.java
  src/main/java/kr/oshino/eataku/common/config/WebSocketConfig.java
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/ChatController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/ChatRoomController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/controller/RestaurantAdminController.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/ChatMessageDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/dto/ChatRoomDTO.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/ChatRoomRepository.java
  src/main/resources/static/css/restaurant/chatting.css
  src/main/resources/static/css/restaurant/test.css
  src/main/resources/static/js/restaurant/restaurant-chat.js
  src/main/resources/static/js/restaurant/user-chat.js
  src/main/resources/templates/reservation/reservationDetail.html
  src/main/resources/templates/restaurant/chatting.html
  src/main/resources/templates/restaurant/main.html
Labels: back end, admin

#253 feat: 웨이팅 util 기능 구현 & 웨이팅 관리자 페이지 기능 구현
  src/main/java/kr/oshino/eataku/common/enums/SmsMessageType.java
  src/main/java/kr/oshino/eataku/common/exception/info/WaitingExceptionInfo.java
  src/main/java/kr/oshino/eataku/common/util/SmsUtil.java
  src/main/java/kr/oshino/eataku/reservation/admin/controller/ReservationAdminController.java
  src/main/java/kr/oshino/eataku/reservation/admin/model/dto/ReservationDTO.java
  src/main/java/kr/oshino/eataku/reservation/admin/repository/ReservationAdminRepository.java
  src/main/java/kr/oshino/eataku/reservation/admin/service/ReservationAdminService.java
  src/main/java/kr/oshino/eataku/reservation/user/entity/Reservation.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingAdminController.java
  src/main/java/kr/oshino/eataku/waiting/repository/WaitingRepository.java
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
  src/main/resources/static/css/reservation/admin/reservationCheck.css
  src/main/resources/static/js/reservation/admin/reservationCheck.js
  src/main/resources/static/js/restaurant/waitingStatus.js
  src/main/resources/templates/reservation/admin/reservationCheck.html
  src/main/resources/templates/restaurant/reservationCheck.html
  src/main/resources/templates/restaurant/waitingStatus.html
Labels: back end, reservation, waiting

#255 #234 feat: Implement chat functionality for user and restaurant commu…
  src/main/resources/static/js/ws/user-chat.js
  src/main/resources/templates/ws/user-chat.html
Labels: back end, admin

#257 #234 feat: Implement chat functionality for user and restaurant communication
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/ws/controller/ChatController.java
  src/main/java/kr/oshino/eataku/ws/controller/ChatRoomController.java
  src/main/java/kr/oshino/eataku/ws/model/dto/ChatMessageDTO.java
  src/main/java/kr/oshino/eataku/ws/model/dto/ChatRoomDTO.java
  src/main/java/kr/oshino/eataku/ws/model/entity/ChatRoom.java
  src/main/java/kr/oshino/eataku/ws/repository/ChatRoomRepository.java
  src/main/java/kr/oshino/eataku/ws/service/ChatRoomService.java
  src/main/resources/static/js/ws/user-chat.js
  src/main/resources/templates/ws/restaurant-chat.html
Labels: back end, admin

#259 리스트 기능 수정 및 리스트 내 식당 등록 및 삭제 기능 구현
  src/main/java/kr/oshino/eataku/MainController.java
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/model/repository/MyListRepository.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/java/kr/oshino/eataku/member/controller/FollowController.java
  src/main/java/kr/oshino/eataku/member/model/dto/HeartDTO.java
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
  src/main/java/kr/oshino/eataku/search/model/dto/SearchResultDTO.java
  src/main/java/kr/oshino/eataku/search/service/SearchService.java
  src/main/resources/static/css/index.css
  src/main/resources/static/css/member/myList.css
  src/main/resources/static/js/index.js
  src/main/resources/templates/index.html
  src/main/resources/templates/list/listAdd.html
  src/main/resources/templates/list/tsktskList.html
  src/main/resources/templates/member/myList.html
Labels: front end, list, priority: high, back end, member

#261 refactor: 예약 등록 로직 변경 및 lock 활성화
  src/main/java/kr/oshino/eataku/common/exception/GlobalExceptionHandler.java
  src/main/java/kr/oshino/eataku/common/exception/exception/ReservationException.java
  src/main/java/kr/oshino/eataku/common/exception/info/ReservationExceptionInfo.java
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/model/dto/responseDto/CreateReservationUserResponseDto.java
  src/main/java/kr/oshino/eataku/reservation/user/repository/ReservationRepository.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/java/kr/oshino/eataku/restaurant/admin/entity/ReservationSetting.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/ReservationSettingRepository.java
  src/main/java/kr/oshino/eataku/waiting/controller/WaitingUserController.java
  src/main/resources/static/js/reservation/user/reservationCalendar.js
Labels: back end, reservation

#263 #120 #118 #117 feat: 리스트 가져오기 기능 구현
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/entity/MyList.java
  src/main/java/kr/oshino/eataku/list/model/dto/CopyListDTO.java
  src/main/java/kr/oshino/eataku/list/model/repository/MyListRepository.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/java/kr/oshino/eataku/member/service/NotificationService.java
  src/main/resources/templates/list/listCopy.html
Labels: list, priority: low, back end, member

#264 feat: 회원 마이페이지 웨이팅 취소 처리 js 구현
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/resources/static/js/restaurant/waitingStatus.js
  src/main/resources/templates/member/myPage.html
Labels: back end

#266 #243 fix: 알림기능 수정, index면 링크연결, 카드검색 카테고리, 서비스 필터링
  src/main/java/kr/oshino/eataku/member/service/NotificationService.java
  src/main/java/kr/oshino/eataku/restaurant/admin/model/repository/RestaurantRepository.java
  src/main/java/kr/oshino/eataku/search/controller/SearchController.java
  src/main/java/kr/oshino/eataku/search/service/SearchService.java
  src/main/resources/static/css/search/cardSearchPage.css
  src/main/resources/static/js/search/cardSearchPage.js
  src/main/resources/templates/index.html
  src/main/resources/templates/search/cardSearchPage.html
Labels: review, priority: low, back end, member, Util

#268 fix: 쩝쩝리스트 기능 구현
  src/main/java/kr/oshino/eataku/list/controller/MyListController.java
  src/main/java/kr/oshino/eataku/list/entity/MyList.java
  src/main/java/kr/oshino/eataku/list/model/dto/FollowerDTO.java
  src/main/java/kr/oshino/eataku/list/model/dto/RestaurantWithRatingDTO.java
  src/main/java/kr/oshino/eataku/list/model/repository/MyListRepository.java
  src/main/java/kr/oshino/eataku/list/model/service/MyListService.java
  src/main/resources/static/css/list/list.css
  src/main/resources/static/js/list/list.js
  src/main/resources/templates/list/tsktskList.html
Labels: list, priority: high, back end

#269 #141 debug: 채팅 디버깅
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/ws/controller/ChatController.java
  src/main/java/kr/oshino/eataku/ws/entity/ChatMessage.java
  src/main/java/kr/oshino/eataku/ws/model/dto/ChatMessageDTO.java
  src/main/java/kr/oshino/eataku/ws/model/dto/ChatMessageResDTO.java
  src/main/java/kr/oshino/eataku/ws/service/ChatRoomService.java
  src/main/resources/static/js/ws/restaurant-chat.js
  src/main/resources/templates/list/listCreate.html
  src/main/resources/templates/ws/restaurant-chat.html
  src/main/resources/templates/ws/user-chat.html
Labels: bug, front end, priority: low, back end, admin, member, debugging
