Repository ssg-240304-java2/final-oshi-no-restaurant, pull requests merged in 2024-09, with the labels that each got.

#271 달력 UI 수정 ,예약취소 관련 로직 수정
  src/main/java/kr/oshino/eataku/common/exception/info/ReservationExceptionInfo.java
  src/main/java/kr/oshino/eataku/reservation/admin/service/ReservationAdminService.java
  src/main/java/kr/oshino/eataku/reservation/user/controller/ReservationUserController.java
  src/main/java/kr/oshino/eataku/reservation/user/service/ReservationUserService.java
  src/main/resources/static/js/reservation/user/reservationCalendar.js
  src/main/resources/templates/reservation/reservationCalendar.html
Labels: reservation, debugging

#273 #272 fix: 웨이팅 등록 로직 오류 해결
  src/main/java/kr/oshino/eataku/waiting/service/WaitingService.java
Labels: bug, back end, waiting

#274 hotfix: 지금바로입장 가능한 식당 Query로직 수정
  src/main/java/kr/oshino/eataku/member/model/repository/MemberRepository.java
Labels: priority: low, back end, database
